/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


* {
    box-sizing: border-box;
}
html, body {
    color: #042a58;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.main-button {
    width: 276px;
    height: 56px;
    border-radius: 28px;
    background-color: #0a4e8e;
    position: relative;
    display: inline-block;    
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 56px;
    white-space: nowrap;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    transition: all 200ms ease;
    text-transform: uppercase;
}
.main-button:hover {
    background-color: #013464;
}
.main-button::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background: url('../img/bg-button.svg') no-repeat center / 56px 56px;
    position: absolute;
    left: 0;
    top: 0;
}
.main-button::after {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background: url('../img/bg-button.svg') no-repeat center / 56px 56px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}

.wrapper {
    width: 1000px;
    margin: auto;
}


/*==============================================================
                            Head Styles
 ==============================================================*/
.head {
    background: #edfaff url('../img/bg-header.svg') no-repeat center bottom / 100% auto;
    padding-bottom: 27vw;
}
header {    
    transition: background-color 300ms ease, height 150ms ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;   
    z-index: 10; 
}
.header__mobile_button {
    width: 55px;
    height: 48px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/menu.svg') no-repeat right center;
    transition: all 150ms ease;
    display: none;
}
.header__mobile_subscribe {
    display: none;
}
.header__mobile_subscribe h3 {
    margin: 24px 0;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.78;
    letter-spacing: normal;
    text-align: center;
    color: #0a4e8e;
}
.header__mobile_subscribe .main__subscribe_form {
    display: flex;
    margin: 0 8px;
    padding: 8px 8px 8px 24px;
    justify-content: space-between;
}
.header__mobile_subscribe .main__subscribe_form-button button {
    width: 136px;
}
.header__mobile_subscribe .main__subscribe_form-button button span {
    position: relative;
    z-index: 1;
}
.header__mobile_subscribe .main__subscribe_form-input input,
.header__mobile_subscribe .main__subscribe_form-button button {
    height: 48px;
}
.header__mobile_subscribe .main__subscribe_form-button button::before,
.header__mobile_subscribe .main__subscribe_form-button button::after {
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
}
header.active {
    height: 100%;
}
header.active .header__mobile_button {
    background: url('../img/menu-close.svg') no-repeat 16px center;
}
header.scroll {
    background-color: #042a58;
    z-index: 10;
}
header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
header ul li {
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.7px;
    text-align: center;
    
}
header ul li.current a {
    color: #042a58;    
}
header.scroll ul li.current a {
    color: #fff;
}
header ul li a {
    color: #2180ea;
    text-decoration: none;
    transition: all 200ms ease;
}
header.scroll ul li a {
    color: #1da2db;
}
header.scroll ul li a:hover {
    color: #2180ea;
}
header ul li a:hover {
    color: #1da2db;
}
.head__logo {
    width: 251px;
    padding-top: 132px;    
    margin: 0 auto;
}
.head__logo img {
    width: 100%;
}
.head h1 {
    margin: 48px auto 0 auto;
    padding: 0;
    width: 580px;    
    font-size: 28px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
}
.head__button {
    text-align: center;
    margin-top: 48px;
}


/*==============================================================
                        Main Styles
 ==============================================================*/
main {
    margin-top: 128px;
}
main h2 {
    margin: 0;
    padding: 0;        
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
}
.main__about {
     width: 820px;
     margin: auto;
}
.main__about h2 {
    margin-bottom: 32px;
}
.main__about_text {    
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #042a58;
}
.main__howitworks {
    margin-top: 128px;
}
.main__howitworks h2 {
    margin-bottom: 48px;
}
.main__howitworks_steps {
    background: url('../img/howitworks-line.svg') no-repeat center 310px;
}
.main__howitworks_step-1 {
    background: url('../img/howitworks-step-1.svg') no-repeat right 0;
    padding-top: 370px;
    position: relative;
    width: 343px;
    float: left;
    margin: 0 175px 0 7px;    
}
.main__howitworks_step-1::before {
    content: "1";
    display: block;
    width: 68px;
    height: 68px;
    background-color: #fff;
    border: 5px solid #2180ea;    
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 58px;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.main__howitworks_steps span {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    display: block;
}
.main__howitworks_steps b {
    display: inline-block;    
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
}
.main__howitworks_step-2 {
    background: url('../img/howitworks-step-2.svg') no-repeat center 0;
    padding-top: 370px;
    position: relative;
    width: 343px;
    float: left;    
}
.main__howitworks_step-2::before {
    content: "2";
    display: block;
    width: 68px;
    height: 68px;
    background-color: #fff;
    border: 5px solid #2180ea;    
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 58px;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.main__howitworks_step-3 {
    background: url('../img/howitworks-step-3.svg') no-repeat center 0;
    padding-top: 370px;
    position: relative;
    width: 459px;
    float: left;
    margin: 175px 90px 0 65px;
}
.main__howitworks_step-3 span {
    width: 285px;
    margin: auto;    
}
.main__howitworks_step-3::before {
    content: "3";
    display: block;
    width: 68px;
    height: 68px;
    background-color: #fff;
    border: 5px solid #2180ea;    
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 58px;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.main__howitworks_step-4 {
    background: url('../img/howitworks-step-4.svg') no-repeat center 0;
    padding-top: 370px;
    position: relative;
    width: 385px;
    float: left;
    margin: 175px 0 0 0;
}
.main__howitworks_step-4::before {
    content: "4";
    display: block;
    width: 68px;
    height: 68px;
    background-color: #fff;
    border: 5px solid #2180ea;    
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 58px;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    border-radius: 50%;
    position: absolute;
    top: 280px;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}
.main__howitworks_button {
    margin-top: 64px;
    text-align: center;
}
.main__benefits {
    margin-top: 128px;
}
.main__benefits h2 {
    margin-bottom: 56px;
}
.main__benefits_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;   
    flex-wrap: wrap; 
}
.main__benefits_list li {
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    margin-bottom: 80px;
    padding-top: 143px;
}
.main__benefits_list li.balence {
    width: 355px;
    background: url('../img/benefits-balence.svg') no-repeat center top / 120px 120px;
}
.main__benefits_list li.security {
    width: 315px;
    background: url('../img/benefits-security.svg') no-repeat center top / 120px 120px;;
}
.main__benefits_list li.share {
    width: 320px;
    background: url('../img/benefits-share.svg') no-repeat center top / 120px 120px;;
}
.main__benefits_list li.account {
    width: 355px;
    background: url('../img/benefits-account.svg') no-repeat center top / 120px 120px;;
}
.main__benefits_list li.rating {
    width: 315px;
    background: url('../img/benefits-rating.svg') no-repeat center top / 120px 120px;;
}
.main__benefits_list li.chart {
    width: 320px;
    background: url('../img/benefits-chart.svg') no-repeat center top / 120px 120px;;
}
.main__benefits_button {
    text-align: center;
}
.main__subscribe {
    margin-top: 128px;
    text-align: center;
}
.main__subscribe h2 {
    margin-bottom: 32px;    
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    text-align: center;
    color: #0a4e8e;
}
.main__subscribe_form {
    display: inline-flex;
    margin: auto;
    border-radius: 44px;
    background-color: #effaff;
    padding: 16px 20px;
}
.main__subscribe_form-input {
    width: 390px;
    margin-right: 16px;
}
.main__subscribe_form-input input {
    width: 100%;
    height: 56px;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 56px;
    letter-spacing: normal;
    color: #0a4e8e;
    border: none;
    background: transparent;
    outline: none;
}
.main__subscribe_form-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(10, 78, 142, 0.3);
}
.main__subscribe_form-input input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(10, 78, 142, 0.3);
}
.main__subscribe_form-input input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(10, 78, 142, 0.3);
}
.main__subscribe_form-input input:-moz-placeholder { /* Firefox 18- */
  color: rgba(10, 78, 142, 0.3);
}
.main__subscribe_form-button button {
    display: inline-block;
    width: 200px;
    height: 56px;
    background: #0a4e8e;
    border: none;
    outline: none;
    position: relative;
    border-radius: 28px;    
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    transition: all 200ms ease;
    cursor: pointer;
    text-transform: uppercase;
}
.main__subscribe_form-button button::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background: url('../img/bg-button.svg') no-repeat center / 56px 56px;
    position: absolute;
    left: 0;
    top: 0;
}
.main__subscribe_form-button button::after {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background: url('../img/bg-button.svg') no-repeat center / 56px 56px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}
.main__subscribe_form-button button:hover {
    background-color: #013464;
}
.main__provides {
    margin-top: 128px;
}
.main__provides h2 {
    margin-bottom: 100px;
}
.main__provides_profile {
    padding-left: 545px;
    background: url('../img/positive-credit-profile.svg') no-repeat left top / 504px 400px;
}
.main__provides h3 {
    margin: 0 0 21px 0;
    padding: 0;        
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0a4e8e;
}
.main__provides h4 {
    margin: 0;
    padding: 0;    
    font-size: 22px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.45;
    letter-spacing: normal;
    color: #0a4e8e;
}
.main__provides p {
    margin-bottom: 40px;    
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #042a58;
}
.main__provides ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main__provides ul li {
    background: url('../img/bg-ul-list.svg') no-repeat 0 4px / 25px 25px;
    padding-left: 46px;    
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #042a58;
    margin-bottom: 32px;
}
.main__provides ul li:last-child {
    margin-bottom: 0;
}
.main__provides_ownership {
    background: url('../img/positive-credit-ownership.svg') no-repeat right top / 504px 410px;
    padding: 155px 515px 0 0;
    margin-top: 104px;
}
.main__provides_portability {
    background: url('../img/positive-credit-portability.svg') no-repeat left top / 504px 400px;
    height: 400px;
    margin-top: 128px;
    padding: 81px 0 0 545px;
}
.main__provides_security {
    background: url('../img/positive-credit-security.svg') no-repeat right top / 504px 400px;
    height: 400px;
    margin-top: 120px;
    padding: 83px 515px 0 0;
}
.main__provides_analytics {
    background: url('../img/positive-credit-analytics.svg') no-repeat left top / 504px 400px;
    height: 400px;
    margin-top: 104px;
    padding: 120px 0 0 545px;
}
.main__provides_control {
    background: url('../img/positive-credit-control.svg') no-repeat right top / 504px 400px;
    margin-top: 120px;
    height: 400px; 
    padding: 111px 515px 0 0;
}
.main__provides_accuracy {
    background: url('../img/positive-credit-accuracy.svg') no-repeat left top / 504px 400px;
    height: 400px;
    margin-top: 104px;
    padding: 60px 0 0 545px;
}
.main__provides_button {
    margin-top: 108px;
    text-align: center;
}
.main__whylist {
    margin-top: 128px;
}
.main__whylist h2 {
    margin-bottom: 60px;
}
.main__whylist_list {
    display: flex;
    justify-content: space-between;
}
.main__whylist_list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.main__whylist_list ul:first-child {
    width: 455px;
}
.main__whylist_list ul:last-child {
    width: 425px;
}
.main__whylist_list ul li {
    background: url('../img/bg-ul-list.svg') no-repeat 0 4px / 25px 25px;
    padding-left: 46px;    
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #042a58;
    margin-bottom: 24px;
}
.main__whylist_list ul li:last-child {
    margin-bottom: 0;
}



/*==============================================================
                        Footer Styles
 ==============================================================*/
footer {
    background-color: #2180ea;
    margin-top: 121px;
    padding-top: 124px;
}
.footer__contacts {
    background: #fff url('../img/bg-footer.svg') no-repeat center bottom / 100% auto;
    padding-bottom: 232px;
}
.footer__contacts h2 {
    margin: 0;
    padding: 72px 0 16px 0;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
}
.footer__contacts_text {
    width: 500px;    
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    margin: 0 auto 32px auto;
}
.footer__contacts_form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 792px;
    margin: auto;
}
.footer__contacts_form-input {
    width: 384px;
}
.footer__contacts_form-input input {
    width: 100%;
    height: 56px;
    border-radius: 28px;
    background-color: #effaff;
    border: none;
    outline: none;        
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #042a58;
    padding: 0 23px;    
}
.footer__contacts_form-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-input input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-input input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-input input:-moz-placeholder { /* Firefox 18- */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-textarea {
    width: 100%;
    padding-top: 24px;
}
.footer__contacts_form-textarea textarea {
    width: 792px;
    height: 164px;
    border-radius: 28px;
    background-color: #effaff;
    border: none;
    outline: none;
    resize: none;        
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.39;
    letter-spacing: normal;
    color: #042a58;
    padding: 14px 23px;
}
.footer__contacts_form-textarea textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-textarea textarea::-moz-placeholder { /* Firefox 19+ */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-textarea textarea:-ms-input-placeholder { /* IE 10+ */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-textarea textarea:-moz-placeholder { /* Firefox 18- */
  color: rgba(10, 78, 142, 0.3);
}
.footer__contacts_form-submit {
    margin-top: 32px;
    text-align: center;
}
.footer__contacts_form-submit button {
    display: inline-block;
    width: 276px;
    height: 56px;
    background: #0a4e8e;
    border: none;
    outline: none;
    position: relative;
    border-radius: 28px;    
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    transition: all 200ms ease;
    cursor: pointer;
    text-transform: uppercase;
}
.footer__contacts_form-submit button::before {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background: url('../img/bg-button.svg') no-repeat center / 56px 56px;
    position: absolute;
    left: 0;
    top: 0;
}
.footer__contacts_form-submit button::after {
    content: "";
    display: block;
    width: 56px;
    height: 56px;
    background: url('../img/bg-button.svg') no-repeat center / 56px 56px;
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
}
.footer__contacts_form-submit button:hover {
    background-color: #013464;
}
.footer__contacts_mail {
    margin-top: 32px;
    text-align: center;
}
.footer__contacts_mail p {    
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #042a58;
    padding: 0;
    margin: 0;
}
.footer__contacts_mail a {    
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #2180ea;
    text-decoration: none;
}
.footer__contacts_mail a:hover {
    text-decoration: underline;
}
.footer__copyright {
    display: flex;
    height: 114px;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.29;
    letter-spacing: normal;
    color: rgba(255, 255, 255, 0.5);
}
.footer__copyright a {
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    display: inline-block;
    margin-right: 56px;
    transition: all 200ms ease;
}
.footer__copyright a::after {
    content: "";
    display: block;
    width: 44px;
    height: 44px;
    background: url('../img/gotop-button.svg') no-repeat center;
    position: absolute;
    top: 50%;
    right: -56px;
    transform: translateY(-50%);
}
.footer__copyright a:hover {
    opacity: 0.75;
}